In [174]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split, KFold

In [175]:
train=pd.read_csv("C:\\Users\\PC\\Desktop\\fraud detetction\\train.csv")

sample=pd.read_csv('C:\\Users\\PC\\Desktop\\fraud detetction\\sample_submission.csv')

In [176]:
indexedDataset = train.set_index(['date'])
indexedDataset.head(5)

,ID,OFFICE,IMPORTER.TIN,TARIFF.CODE,ORIGIN.CODE,CIF_USD_EQUIVALENT,QUANTITY,GROSS.WEIGHT,TOTAL.TAXES.USD,illicit
date,,,,,,,,,,
2013-01-01,0,OFFICE60,IMP545640,8703232225,CNTRY680,172710.0,1.0,28487.0,3492.0,0
2013-01-01,1,OFFICE24,IMP252323,8703321220,CNTRY376,7450.0,1.0,185994.0,503.0,0
2013-01-01,2,OFFICE59,IMP194834,8704212025,CNTRY680,2684.0,1.0,452843.0,5706.0,0
2013-01-01,3,OFFICE60,IMP668188,3901100000,CNTRY277,7412.0,2018.0,26546.0,3182.0,0
2013-01-01,4,OFFICE59,IMP395619,8517180000,CNTRY759,2786.0,7044.0,1958.0,587.0,0

In [177]:
df=train.copy()

In [178]:
train['OFFICE'].astype(str)
for i, row in train.iterrows():
    ifor_val = int(train['OFFICE'][i][6:8:1])
    df.at[i,'OFFICE']=ifor_val

In [179]:
df['OFFICE']=df['OFFICE'].astype(int)

In [180]:
df.ffill(axis = 0,inplace=True)

In [181]:
df_indexed=df.set_index(['date'])

In [182]:
train['ORIGIN.CODE'].astype(str)
for i, row in train.iterrows():
    ifor_val = int(train['ORIGIN.CODE'][i][5:8:1])
    df.at[i,'ORIGIN.CODE']=ifor_val
df['ORIGIN.CODE']=df['ORIGIN.CODE'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ID                  160000 non-null  int64
 1   OFFICE              160000 non-null  int32
 2   IMPORTER.TIN        160000 non-null  object
 3   TARIFF.CODE         160000 non-null  int64
 4   ORIGIN.CODE         160000 non-null  int32
 5   CIF_USD_EQUIVALENT  160000 non-null  float64
 6   QUANTITY            160000 non-null  float64
 7   GROSS.WEIGHT        160000 non-null  float64
 8   TOTAL.TAXES.USD     160000 non-null  float64
 9   illicit             160000 non-null  int64
 10  date                160000 non-null  object
dtypes: float64(4), int32(2), int64(3), object(2)
memory usage: 12.2+ MB

In [183]:
new_dataset=df.copy()

In [184]:
#Parse strings to datetime type
new_dataset['date'] = pd.to_datetime(new_dataset['date'],infer_datetime_format=True) #convert

In [185]:
# Extract day, month year and hour from the Datetime column
# day
new_dataset['Datetime_day'] = new_dataset.date.dt.day

# month
new_dataset['Datetime_month'] = new_dataset.date.dt.month
 

new_dataset['Datetime_year'] = new_dataset.date.dt.year

In [186]:
new_dataset.drop("date", axis = 1, inplace = True)

In [187]:
new_dataset.head()

,ID,OFFICE,IMPORTER.TIN,TARIFF.CODE,ORIGIN.CODE,CIF_USD_EQUIVALENT,QUANTITY,GROSS.WEIGHT,TOTAL.TAXES.USD,illicit,Datetime_day,Datetime_month,Datetime_year
0,0,60,IMP545640,8703232225,680,172710.0,1.0,28487.0,3492.0,0,1,1,2013
1,1,24,IMP252323,8703321220,376,7450.0,1.0,185994.0,503.0,0,1,1,2013
2,2,59,IMP194834,8704212025,680,2684.0,1.0,452843.0,5706.0,0,1,1,2013
3,3,60,IMP668188,3901100000,277,7412.0,2018.0,26546.0,3182.0,0,1,1,2013
4,4,59,IMP395619,8517180000,759,2786.0,7044.0,1958.0,587.0,0,1,1,2013

In [188]:
new_dataset1=new_dataset.copy()

In [189]:
new_dataset['IMPORTER.TIN'].astype(str)
for i, row in new_dataset.iterrows():
    if (new_dataset['IMPORTER.TIN'][i][0:4]=='IMPO'):
        ifor_val = new_dataset['IMPORTER.TIN'][i][4:9:1]
    else :
        ifor_val =new_dataset['IMPORTER.TIN'][i][3:9:1]
    new_dataset1.at[i,'IMPORTER.TIN']=ifor_val

In [190]:
new_dataset1['IMPORTER.TIN']=new_dataset1['IMPORTER.TIN'].astype(int)

In [191]:
features = new_dataset1.drop(columns=['illicit']).columns

In [192]:
from imblearn.under_sampling import RandomUnderSampler

rus = RandomUnderSampler(random_state=888)
X_resampled, y_resampled = rus.fit_resample(new_dataset1[features], new_dataset1['illicit'])

y_resampled.value_counts()

0    11203
1    11203
Name: illicit, dtype: int64

In [193]:
new_dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ID                  160000 non-null  int64
 1   OFFICE              160000 non-null  int32
 2   IMPORTER.TIN        160000 non-null  int32
 3   TARIFF.CODE         160000 non-null  int64
 4   ORIGIN.CODE         160000 non-null  int32
 5   CIF_USD_EQUIVALENT  160000 non-null  float64
 6   QUANTITY            160000 non-null  float64
 7   GROSS.WEIGHT        160000 non-null  float64
 8   TOTAL.TAXES.USD     160000 non-null  float64
 9   illicit             160000 non-null  int64
 10  Datetime_day        160000 non-null  int64
 11  Datetime_month      160000 non-null  int64
 12  Datetime_year       160000 non-null  int64
dtypes: float64(4), int32(3), int64(6)
memory usage: 14.0 MB

In [194]:
test=pd.read_csv('C:\\Users\\PC\\Desktop\\fraud detetction\\test.csv')

In [195]:
test1=test.copy()

In [196]:
test['OFFICE'].astype(str)
for i, row in test.iterrows():
    ifor_val = test['OFFICE'][i][6:8:1]
    test1.at[i,'OFFICE']=ifor_val

In [197]:
test1['OFFICE']=test1['OFFICE'].astype(int)

In [198]:
test['IMPORTER.TIN'].astype(str)
for i, row in test.iterrows():
    if (test['IMPORTER.TIN'][i][0:4]=='IMPO'):
        ifor_val = test['IMPORTER.TIN'][i][4:9:1]
    else :
        ifor_val = test['IMPORTER.TIN'][i][3:9:1]
    test1.at[i,'IMPORTER.TIN']=ifor_val

In [199]:
test1['IMPORTER.TIN']=test1['IMPORTER.TIN'].astype(int)

In [200]:
test['ORIGIN.CODE'].astype(str)
for i, row in test.iterrows():
    ifor_val = test['ORIGIN.CODE'][i][5:8:1]
    test1.at[i,'ORIGIN.CODE']=ifor_val
test1['ORIGIN.CODE']=test1['ORIGIN.CODE'].astype(int)

In [201]:
test1.ffill(axis = 0,inplace=True)

In [202]:

test1['date'] = pd.to_datetime(test1['date'],infer_datetime_format=True) #convert 

# Extract day, month year and hour from the Datetime column
# day
test1['Datetime_day'] = test1.date.dt.day

# month
test1['Datetime_month'] = test1.date.dt.month
 

test1['Datetime_year'] = test1.date.dt.year

test1.drop("date", axis = 1, inplace = True)

test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  40000 non-null  int64
 1   OFFICE              40000 non-null  int32
 2   IMPORTER.TIN        40000 non-null  int32
 3   TARIFF.CODE         40000 non-null  int64
 4   ORIGIN.CODE         40000 non-null  int32
 5   CIF_USD_EQUIVALENT  40000 non-null  float64
 6   QUANTITY            40000 non-null  float64
 7   GROSS.WEIGHT        40000 non-null  float64
 8   TOTAL.TAXES.USD     40000 non-null  float64
 9   Datetime_day        40000 non-null  int64
 10  Datetime_month      40000 non-null  int64
 11  Datetime_year       40000 non-null  int64
dtypes: float64(4), int32(3), int64(5)
memory usage: 3.2 MB

In [203]:
colums=["OFFICE","IMPORTER.TIN","TARIFF.CODE","ORIGIN.CODE","CIF_USD_EQUIVALENT","QUANTITY","GROSS.WEIGHT","TOTAL.TAXES.USD","Datetime_day","Datetime_month","Datetime_year"]

In [204]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ID                  160000 non-null  int64
 1   OFFICE              160000 non-null  object
 2   IMPORTER.TIN        160000 non-null  object
 3   TARIFF.CODE         160000 non-null  int64
 4   ORIGIN.CODE         160000 non-null  object
 5   CIF_USD_EQUIVALENT  160000 non-null  float64
 6   QUANTITY            160000 non-null  float64
 7   GROSS.WEIGHT        160000 non-null  float64
 8   TOTAL.TAXES.USD     160000 non-null  float64
 9   illicit             160000 non-null  int64
 10  date                157244 non-null  object
dtypes: float64(4), int64(3), object(4)
memory usage: 13.4+ MB

In [205]:
X=new_dataset1[colums]
y=new_dataset1.illicit

In [206]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=42)

In [207]:
from lightgbm import LGBMClassifier

In [208]:
clf=LGBMClassifier()
clf.fit(X_train,y_train)

LGBMClassifier()

In [209]:
from sklearn.metrics import auc, classification_report, roc_auc_score

In [210]:
y_pred=clf.predict(X_test)
print(roc_auc_score(y_pred,y_test))

0.6702946990111216

In [211]:
test_df = test1[colums]
lgbm_Predictions = clf.predict(test_df)

In [212]:
sample['illicit']=clf.predict(test1[colums])

In [213]:
submission_lgbm = pd.DataFrame()
submission_lgbm['ID'] = test1['ID']
submission_lgbm['illicit'] = sample['illicit']
submission_lgbm['illicit'] = submission_lgbm['illicit'].astype('int')

In [214]:
# Create file
submission_lgbm.to_csv('lgbm.csv', index = False)